@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<section class="slide-show">
    <div class="bg-inner" style="width: 1349px; height: 410.321px;">
        <img src="https://www.converse.com.vn/pictures/catalog/home/slide-homepage/Chuck-70-banner-web-grid-wall.jpg" alt="Sneakers" style="width: 100%; height: auto; margin-top: 0px;">
    </div>
</section>
<!-- Banner--->
<section>
    <div class="container">
        <div class="row">
                    <div class="collection">
                        <div class="col-lg-6">
                            <div class="banner_item">
                                <div class="banner_item_text">
                                    <h2>Clothing Collections 2030</h2>
                                    <a class="banner-shop" href="#">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner_item_pic">
                                <img src="~/img/cv1.jpg" />
                            </div>
                        </div>
                    </div>
                    @*<div class="collection">
                        <div class="col-lg-6">
                            <div class="banner_item_pic">
                                <img src="~/img/vans.jpg" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner_item_text">
                                <h2>Accessories</h2>
                                <a class="banner-shop" href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="collection">
                        <div class="col-lg-6">
                            <div class="banner_item_text">
                                <h2>Shoes Spring <br> 2030</h2>
                                <a class="banner-shop" href="#">Shop now</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner_item_pic">
                                <img src="~/img/palla.jpg" />
                            </div>
                        </div>
                    </div>*@
                </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="recommended_items">
            <!--recommended_items-->
            <h2 class="title text-center">recommended items</h2>

            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        @foreach (var item in Model.Reverse())
                        {

                            <div class="col-md-6 col-lg-4">
                                <div class="product-image-wrapper">

                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                                <img src="~/images/products/@item.Image" alt="" />
                                                <h2>@item.Price VND</h2>
                                                <p>@item.Name</p>
                                            </a>
                                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <div class="item">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6 col-lg-4">
                                <div class="product-image-wrapper">

                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                                <img src="~/images/products/@item.Image" alt="" />
                                                <h2>@item.Price VND</h2>
                                                <p>@item.Name</p>
                                            </a>
                                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

