@model MobieStoreWeb.Helpers.PaginatedList<Product>
@{
    ViewData["Title"] = "Products Page";
}

<section id="advertisement">
    <div class="container">
        <img src="images/shop/advertisement.jpg" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Categories</h2>
                    <div class="panel-group category-products" id="categories">
                        @foreach (Category item in ViewBag.Categories)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a href="javascript: updateQuery('categories','@item.Id')" data-id="@item.Id">@item.Name</a></h4>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="brands_products">
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked" id="manufacturers">
                                @foreach (Manufacturer item in ViewBag.Manufacturers)
                                {
                                    <li><a href="javascript: updateQuery('manufacturers','@item.Id')" data-id="@item.Id">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b>$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div>

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="images/home/shipping.jpg" alt="" />
                    </div>

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a asp-action="Details" asp-route-id="@item.Id">
                                                <img src="~/images/products/@item.Image" alt="" />
                                                <h2>@item.Price VND</h2>
                                                <p>@item.Name</p>
                                            </a>
                                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                            <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div>
                        <ul class="pagination">
                            @if (Model.HasPreviousPage)
                            {
                                <li><a href="javascript: goToPage(@(Model.PageIndex-1))">&laquo;</a></li>
                            }

                            @if (Model.HasNextPage)
                            {
                                <li><a href="javascript: goToPage(@(Model.PageIndex+1))">&raquo;</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var url = new URL(window.location.href);

        $(document).ready(function () {
            var categoriesInQuery = url.searchParams.getAll('categories');
            var categories = $('#categories').find('a');
            categories.each(function () {
                var id = $(this).data('id');
                if (categoriesInQuery.some(i => i == id)) {
                    $(this).addClass('active');
                }
            });

            var manufacturersInQuery = url.searchParams.getAll('manufacturers');
            var manufacturers = $('#manufacturers').find('a');
            manufacturers.each(function () {
                var id = $(this).data('id');
                if (manufacturersInQuery.some(i => i == id)) {
                    $(this).addClass('active');
                }
            });
        });

        function goToPage(page) {
            url.searchParams.set('page', page);
            window.location.href = url;
        }
        function updateQuery(key, value) {
            var values = url.searchParams.getAll(key);
            if (values.some(item => item == value)) {
                values = values.filter(item => item != value);
                url.searchParams.delete(key);
                values.forEach(item => {
                    url.searchParams.append(key, item);
                })
            }
            else {
                url.searchParams.append(key, value);
            }
            url.searchParams.delete('page');
            window.location.href = url;
        }
    </script>

}